*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section start bootstrap  */

.at_element_img{
    width: 250px;
}

.at_section-green{
    background-color: #1ABC9C;
    color: #fff;
}

.at_star{
    max-width: 400px;
    width: 100%;
    /* margin: 0 auto; */
}

.at_star:before,
.at_star:after{
    content: "";
    display: inline-block;
    width: 100px;
    height: 4px;
    line-height: 4px;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 2px;
}

/* section portfolio  */

 .at_star_black:before,
 .at_star_black:after{
        content: "";
        display: inline-block;
        width: 80px;
        height: 4px;
        line-height: 4px;
        vertical-align: middle;
        background-color: black;
        border-radius: 2px;
    }

 .at_portfolio_item img{
     width: 100%;
 }
   